::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}


::-webkit-scrollbar-thumb {
  /* background-color: #d8c97c; */
  border-radius: 5px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background-color: #c6c692;
}